.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 80px; /* sidebar width */
  right: 0;
  z-index: 1000;
}

.toggle-btn {
  font-size: 30px;
  margin-right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.header-title {
  font-size: 20px;
  font-weight: bold;
  color: #1e3a8a;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-icon {
  font-size: 20px;
  color: #1e3a8a;
  cursor: pointer;
}

.logout-button {
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  background-color: #1e3a8a;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #2c5282;
}
/*drop down*/
.logout-wrapper {
  position: relative;
}

.logout-dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px 14px;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  width: 220px;
}

.logout-dropdown p {
  margin: 0 0 10px;
  font-size: 14px;
  color: #333;
}

.logout-options {
  display: flex;
  justify-content: space-between;
}

.logout-options button {
  padding: 6px 12px;
  font-size: 13px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-options button:first-child {
  background-color: #e53e3e;
  color: white;
}

.logout-options button:last-child {
  background-color: #e2e8f0;
  color: #333;
}
.header-left {
  display: flex;
  align-items: center;
}